.button {
  /* position: absolute; */   /* REMOVER */
  /* top: 20px; */            /* REMOVER */
  /* right: 20px; */          /* REMOVER */
  padding: 10px 16px;
  font-size: 16px;
  background-color: #3b9ddd;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  /* z-index: 10; */          /* REMOVER */
}
