.button {
  padding: 10px 16px;
  font-size: 16px;
  background-color: #3b9ddd;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;

  &:hover,
  &:focus {
    background-color: #277fc4;
  }
}
